# dependencies
node_modules

# env files (VERY IMPORTANT)
.env
.env.*

# build files
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# zip
*.zip

# markdown (optional if sensitive)
*.md